<h1>Bewerk Teamleden</h1>
 
<%= form_for :team, url: team_path(@team), method: :patch do |f| %>
 
<% if @team.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@team.errors.count, "error") %> 
prohibited
        this log from being saved:
      </h2>
      <ul>
        <% @team.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label 'Voornaam' %><br>
    <%= f.text_field :first_name%>
  </p>
 
  <p>
    <%= f.label 'Achternaam' %><br>
    <%= f.text_field :last_name %>
  </p>
 
  <p>
    <%= f.submit "Opslaan", class: "btn-submit" %>
  </p>
 
<% end %>
 
<%= link_to 'Terug', teams_path %>