<h1>Teamleden</h1>

<%= link_to 'Nieuw Teamlid', new_team_path %>

<table>
  <tr>
    <th>Voornaam</th>
    <th>Achternaam</th>
    <th colspan="2"></th>
  </tr>
  
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.first_name %></td>
      <td><%= team.last_name %></td>
      <td><%= link_to 'Bewerk', edit_team_path(team) %></td>
      <td><%= link_to 'Verwijder', team_path(team), method: :delete, data: { confirm: 'Weet je het zeker?' } %></td>
    </tr>
  <% end %>
</table>

