<h1>Lijst van Stand-ups</h1>

<%= link_to 'Nieuwe Stand-up', new_standup_path %>

<table>
 <tr>
    <th colspan="2"></th>
  </tr>
  
  
  <% @standups.each do |standup| %>
    <tr>
      <td><%= standup.yesterday %></td>
      <td><%= standup.today %></td>
      <td><%= standup.problems %></td>
      <td><%= link_to 'Voorbeeld', standup_path(standup) %></td>
      <td><%= link_to 'Bewerk', edit_standup_path(standup) %></td>
      <td><%= link_to 'Verwijder', standup_path(standup),
      method: :delete,
data: { confirm: 'Weet je het zeker?' } %></td>
    </tr>
  <% end %>
</table>

