<div class="login">
  <div class="container">
    <div class="logo">
      <%= image_tag "dailylogo.png" %>
    </div>
    <div class="form">

    <%= form_for(@user) do |f| %>
      <br><a>Voornaam</a>
      <br><%= f.text_field :first_name %>
      <br><a>Achternaam</a>
      <br><%= f.text_field :last_name %>
      <br><a>E-mail</a>
      <br><%= f.email_field :email %>
      <br><a>Wachtwoord</a>
      <br><%= f.password_field :password %>
      <br><b><%= f.submit "Registreren", class: "btn-submit" %></b>
      <br>
      <br><%= link_to 'Terug', root_path %>
    <% end %>

    </div>
  </div>
</div>
