<div class="login">
  <div class="container">
    <div class="form">

    <h1>Registreren</h1>

    <%= form_for(@user) do |f| %>
      <br><a>Voornaam</a>
      <br><%= f.text_field :first_name %>
      <br><a>Achternaam</a>
      <br><%= f.text_field :last_name %>
      <br><a>E-mail</a>
      <br><%= f.email_field :email %>
      <br><a>Wachtwoord</a>
      <br><%= f.password_field :password %>
      <br><%= f.submit "Opslaan", class: "btn-submit" %>
    <% end %>

  
    </div>
  </div>
</div>

<%= link_to 'Terug', root_path %>