<h1>Bewerk Logboek</h1>
 
<%= form_for :logbook, url: logbook_path(@logbook), method: :patch do |f| %>
 
<% if @logbook.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@logbook.errors.count, "error") %> 
prohibited
        this log from being saved:
      </h2>
      <ul>
        <% @logbook.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label 'Titel' %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Terug', logbooks_path %>