<h1>Lijst Logboeken</h1>

<%= link_to 'Nieuw Logboek', new_logbook_path %>

<table>
  <tr>
    <th colspan="2"></th>
  </tr>
  
  <% @logbooks.each do |logbook| %>
    <tr>
      <td><%= logbook.title %></td>
      <td><%= logbook.text %></td>
      <td><%= link_to 'Voorbeeld', logbook_path(logbook) %></td>
      <td><%= link_to 'Bewerk', edit_logbook_path(logbook) %></td>
      <td><%= link_to 'Verwijder', logbook_path(logbook), method: :delete, data: { confirm: 'Weet je het zeker?' } %></td>
    </tr>
  <% end %>
</table>

