<!DOCTYPE html>
<html>
  <head>
    <title>Daily Scrum</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>
  <body>

    <% if current_user %>
      <nav class="navigation-background">
        <ul class="navigation">
          <li>
            <%= link_to 'Daily Stand-up', controller: 'standups' %>
          </li>
          <li>
            <%= link_to 'Logboek', controller: 'logbooks' %>
          </li>
          <li>
            <%= link_to 'Teams', controller: 'teams' %>
          </li>
          <li>
            <%= link_to 'Uitloggen', logout_path, method: 'delete' %>
          </li>
        </ul>
      </nav>
    <% end %>

    <%= yield %>

    <% unless current_user %>
      <% unless current_page?(signup_path) || current_page?(new_user_path) %>
        <%= render 'sessions/new' %>
      <% end %>
    <% end %>

  </body>
</html>
